.container {
    display:flex;
    flex-direction: column;
    width:344px;
    justify-content:space-between;
    gap:8px;
}

.display {
    display:flex;
    background-color: teal;
    flex: 1 0 auto;
    gap: 8px;
    height:80px;
    justify-content: flex-end;
    padding-right: 8px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color:white;
}

.buttons {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    gap: 8px;
}

button {
    display: flex;
    flex: 1 0 auto;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
}

